.home{
    background-color: var(--guest-color);
    height: 423px;
    border-radius: 6px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.home-sale{
    padding-left: 35px;
}

.home-main{
    flex: 1;
    padding-left: 41px;
    max-width: 481px;
}

.home-image{
    position: absolute;
    top:83px;
    right: 41px;
}

